body {
  font-family: system-ui;
  background: #f6f7f9;
}

.center {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.card {
  background: white;
  padding: 32px;
  max-width: 500px;
  margin: auto;
  border-radius: 8px;
}

input, textarea, select {
  width: 100%;
  margin: 12px 0;
  padding: 10px;
}

button {
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 4px;
}
